body{
    text-align: center;
}
iframe{
    width: 100%;
}
.travel_mainDiv{
    border: 1px solid lightgrey;
}
.travel_mainDiv img{
    width:100%;
}
.travel_mainDiv h5,.travel_maiDiv p{
    margin: 20px;
}
.movie_head{
    font-size: 20px ;
    padding:6px 22px;
    border-radius:10px;
    margin-bottom: 15;
}
.movie_head i{
    float:right;
}
.achevement_text span{
    color: orange;
}